{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Create Quiz for {{ lesson.title }}</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.question.label(class="form-label") }}
                {{ form.question(class="form-control", rows=3) }}
            </div>
            <div class="mb-3">
                {{ form.correct_answer.label(class="form-label") }}
                {{ form.correct_answer(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
