{% extends "base.html" %}

{% block title %}Create Course - Educational Platform{% endblock %}

{% block content %}
    <h1>Create a New Course</h1>
    <form method="POST" action="{{ url_for('create_course') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <ul class="errors">
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <ul class="errors">
                    {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.level.label }}
            {{ form.level(class="form-control") }}
            {% if form.level.errors %}
                <ul class="errors">
                    {% for error in form.level.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.prerequisites.label }}
            {{ form.prerequisites(class="form-control") }}
            {% if form.prerequisites.errors %}
                <ul class="errors">
                    {% for error in form.prerequisites.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.learning_outcomes.label }}
            {{ form.learning_outcomes(class="form-control") }}
            {% if form.learning_outcomes.errors %}
                <ul class="errors">
                    {% for error in form.learning_outcomes.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.is_template.label }}
            {{ form.is_template() }}
            {% if form.is_template.errors %}
                <ul class="errors">
                    {% for error in form.is_template.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.lessons.label }}
            {{ form.lessons(class="form-control") }}
            {% if form.lessons.errors %}
                <ul class="errors">
                    {% for error in form.lessons.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <input type="submit" value="Create Course" class="btn btn-primary">
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script>
// The script for adding lessons dynamically has been removed
// as lessons are now selected from a dropdown list.
</script>
{% endblock %}
